In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [78]:
df = pd.read_csv("creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [79]:
df["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

### 0 ---> legit
### 1 ---> fruad
#### this dataset is highly imbalanced so we need to handle this

#### 1. we need to separate the legit and ilegit(fruad)

In [84]:
legit = df[df['Class'] ==0]

In [86]:
fruad = df[df["Class"]==1]

In [88]:
legit.shape

(284315, 31)

In [90]:
fruad.shape

(492, 31)

### <font color =green> we have 492 fruad so lets take 492 sample legit transaction </font>

#### 2. we use undersampling to handle the imbalanced dataset
#### our main goal is to build a sample dataset containing similar distribution of legit and fruadlent transactions

In [94]:
legit_sample = legit.sample(n = 492)

In [96]:
legit_sample.shape

(492, 31)

### Now lets conctnate the legit_sample and fruad transacions to new df which is " handled_df "

In [99]:
handled_df = pd.concat([legit_sample,fruad],axis=0)

In [101]:
handled_df.shape

(984, 31)

In [103]:
handled_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69906,53632.0,-0.412274,1.036728,1.562758,-0.030108,-0.087469,-0.902420,0.694481,-0.057381,-0.370820,...,-0.229933,-0.607742,-0.020364,0.361850,-0.199835,0.071711,0.264319,0.120628,2.69,0
165141,117226.0,1.825183,0.034173,-2.402699,0.604930,1.132087,0.563794,-0.101217,0.287697,0.499104,...,0.112615,0.682089,-0.017414,-1.487405,-0.032463,0.821486,0.007411,-0.033237,29.56,0
215161,139961.0,1.786403,-0.418618,-2.828184,0.375693,0.726157,-1.412580,1.222661,-0.600657,0.300389,...,0.399910,0.889648,-0.363662,0.784133,0.830452,-0.245718,-0.098186,-0.044094,191.00,0
183635,125887.0,1.928792,-0.046644,-0.272499,1.560446,-0.259063,-0.217673,-0.151809,-0.086273,0.970697,...,-0.506375,-1.084046,0.418527,-0.130378,-0.277956,-1.102562,0.066742,-0.028226,8.94,0
105052,69343.0,-1.087690,1.753064,-0.002769,0.980184,-0.063059,-0.344741,-0.130937,0.997546,-1.058855,...,0.245845,0.406089,-0.068926,-0.117899,-0.370944,-0.326116,-0.186667,0.044920,1.00,0

In [105]:
handled_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [107]:
handled_df["Class"].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

#### now we have a balanced dataset